<%- include ("partials/header") %>


<style type="text/css">
.masthead {
        background-image: url('https://images.unsplash.com/photo-1575552286163-7ca796f555a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80') !important;
        background-size: cover !important;
        height:500px;
        width:auto;
}
.align-center{
  padding: 130px;
}
 </style>
<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui text align-center container">
      <h1 class="ui inverted header">
        Trail Finder USA
      </h1>
      <h2>We help you find your perfect path.</h2>
      <a href="/trails"><div class="ui huge primary button">See Trails<i class="right arrow icon"></i></div></a>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">View ratings and help out fellow hikers.</h3>
          <p>Know before you go with our dynamic trail rating system, designed to give you the details you need to enjoy the perfect US trail for you.</p>
        </div>
        <div class="six wide right floated column">
          <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a href="/trails" class="ui huge button">Find Your Path</a>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include ("partials/footer") %>