<%- include ("partials/header") %>

<h1>HI PEEPS LETS SEE THE TRAILS!</h1>

<a href="/trails/new">Add a new Trail!</a>

<% trails.forEach(function(trail){ %>
    <div>
        <h4><%= trail.name %></h4>
        <img src="<%= trail.image %>">
    </div>
<% }); %>


<%- include ("partials/footer") %>