<%- include ("../partials/header") %>


<h1>Edit Trail!</h1>
<a href="/trails">Go back</a>
<form class="ui fluid form" action="/trails" method="POST">
    
    <div class="field">
        <input type="text" name="trail[name]" value="<%= trail.name %>">
        <div class="ui pointing label">
            Please enter a value
        </div>
    </div>
    <div class="field">
        <input type="text" name="trail[image]" value="<%= trail.image %>">
        <div class="ui pointing label">
            Please enter a value
        </div>
    </div>
    
    <button>Submit</button>
</form>


<%- include ("../partials/footer") %>