<%- include ("../partials/header") %>


<h1>Add a New Trail!</h1>
<a href="/trails">Go back</a>
<form class="ui fluid form" action="/trails" method="POST">
    
    <div class="field">
        <input type="text" name="trailName" placeholder="name">
        <div class="ui pointing label">
            Please enter a value
        </div>
    </div>
    <div class="field">
        <input type="text" name="trailImage" placeholder="image URL">
        <div class="ui pointing label">
            Please enter a value
        </div>
    </div>
    
    <button>Submit</button>
</form>


<%- include ("../partials/footer") %>